* {
  box-sizing: border-box;
}

html,
body{
	max-width: 750px;
	margin: 0px auto;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	line-height: 1.55em;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 80px;
}


body {
  min-height: 1280px;
  font-weight: 400;
  color: #2a2a2a;
}

a{
  color: #333;
  opacity: 0.5;
  text-decoration: none;
}

a:hover{
  opacity: 1;
  text-decoration: underline;
}

.header a{
  color: #333;
}
.header-left {
  float:left;
}

.header-right {
  float:right;
}

.header a{
	opacity: .5;
	text-decoration: none;
}
.header a:hover{
	opacity: 1
}

.header img{
	width: 16px;
  margin-right: 2px;
	position: relative;
	top: 2px;
}

.button {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  border-radius: 8px;
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: white; 
  color: black; 
}

div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 135px;          
  height: 18px;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 1px;        
  pointer-events: none;  
  border-radius: 6px;   
  border-style: solid;
}

.choropleth path:hover {
  fill-opacity: .7;
}






#scroll {
  display: flex;
  position: relative;
  border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;
}

.scroll__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll__graphic.is-fixed {
    position: sticky;
  }
  
  .scroll__graphic.is-bottom {
    bottom: 0;
    top: 0;
    position: sticky;
  }

  .scroll__text {
    position: relative;
    padding: 0 1rem;
    width: 100%;
  }
  
  .step.is-active {
    opacity: 1;
  }

  .chart {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 450px;
  }

  .chart svg{
    text-align: center;
    position: absolute;
  }

  .step {
    margin: 2rem auto;
    width: 95%;
    opacity: 0.25;
    height: 800px;

  }

  .step.is-active {
    
  }

  .step p {
    padding: 1rem;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    line-height: 1.55em;
  }