* {
  box-sizing: border-box;
}

html,
body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

body {
  min-height: 1280px;
  font-weight: 300;
  color: #2a2a2a;
}

.header-left {
  float:left;
}

.header-right {
  float:right;
}

.header a{
	opacity: .5;
	text-decoration: none;
}
.header a:hover{
	opacity: 1
}
.header img{
	width: 16px;
  margin-right: 2px;
	position: relative;
	top: 2px;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 300;
}


#scroll {
  display: flex;
  position: relative;
  border-top: 1px dashed #000;
	border-bottom: 1px dashed #000;
}

.scroll__graphic {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll__graphic.is-fixed {
    position: sticky;
  }
  
  .scroll__graphic.is-bottom {
    bottom: 0;
    top: 0;
    position: sticky;
  }

  .scroll__text {
    position: relative;
    padding: 0 1rem;
    width: 100%;
  }
  
  .step.is-active {
    opacity: 1;
  }

  .chart {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #000;
    width: 100%;
  }

  .chart svg{
    text-align: center;
    position: absolute;
  }

  .step {
    margin: 2rem auto;
    border: 1px solid #333;
    width: 95%;
    opacity: 0.5;
    height: 300px;

  }

  .step.is-active {
    background-color: lightgoldenrodyellow;
  }

  .step p {
    padding: 1rem;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    line-height: 1.55em;
  }